/* Main card container */

/* Title */
.home_card h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #333;
}

/* Dropdown section wrapper */
.home_card > div {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


/*mobile view*/
@media (max-width: 1024px) {
    .home_card {
        width: 60%;
        margin: 8% auto;
    }
    .home_card h1 {
        font-size: 24px;
    }
    .home_card > div {
        margin-bottom: 15px;
    }
}